@import "../variables.scss";
@import "./filters.scss";
@import "./sort.scss";
@import "./list.scss";
@import "./card.scss";
@import "./map.scss";

.main-container {
  width: 100%;
  margin: 0;
  height: calc(
    100vh - 90px
  ); // Note: This calc's px value is a combination of 'navigation.scss > nav' and 'header.scss > .header' height values.

  position: relative;
}

.scroll {
  overflow-y: auto;
}

.no-scroll {
  overflow-y: hidden;
}

.search-container {
  width: 100%;
  height: 45px;
  display: flex;

  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  position: absolute;
  top: 0;
  z-index: 1000;
  background: $logo-primary;

  .search-bar {
    width: 80%;
    background-color: #fffffa;
    border-radius: 5px;
  }

  .filters-toggle {
    width: 35px;
    height: 35px;
    border: none;

    background-color: transparent;
    background-image: url("../../images/filter.svg");
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.geocoder-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;

  .geocode-input {
    height: 35px;
    padding: 5px;
    padding-left: 35px;
    box-sizing: border-box;
    background: #fffffa;
    border: none;
    border-radius: 5px;
    z-index: 1001;

    background-image: url("../../images/search.svg");
    background-size: 25px;
    background-position: 5px;
    background-repeat: no-repeat;

    width: 85%;
    font-size: 1.6em;
  }

  .geo-location {
    width: 35px;
    height: 35px;
    border: none;

    background-color: transparent;
    background-image: url("../../images/current-location-icon.svg");
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;

    cursor: pointer;
  }

  .geocoder-results {
    position: absolute;
    top: 0;
    padding: 0 5px;
    z-index: 1000;
    margin-top: 30px;
    width: 100%;
    background: #fffffa;
    font-family: $font-body;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .geocoder-results p {
    display: block;
    width: 100%;
    margin: 5px auto;
    padding: 5px 5px 5px 30px;

    font-size: 1.6em;
    line-height: 1.2rem;
    cursor: pointer;

    background: #fffffa;
    background-image: url("../../images/search.svg");
    background-size: 20px;
    background-position: 5px;
    background-repeat: no-repeat;
  }
}

.results-container {
  width: 100%;
  height: calc(75% - 45px);
  position: absolute;
  bottom: 0;
  z-index: 999;
  transform: translateY(0);
  transition: 0.2s cubic-bezier(0.73, 0, 0.9, 1);

  background: white;

  .results-toggle {
    width: 100;
    height: 30px;
    background: $logo-primary;
    border-top: 1px solid white;
  }
}
