@import '../variables.scss';

.activity-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid rgba(213, 209, 198, 0.5);
    font-family: Catamaran;
    line-height: 3em;
    background-color: white;
}

.magnitude-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

%magnitude {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2em;
    height: 95px;
    width: 15px;
}

.magnitude-1{
    @extend %magnitude;
    background-color: #53E0CD;
};

.magnitude-3{
    @extend %magnitude;
    background-color: #A5BF65;
};

.magnitude-4{
    @extend %magnitude;
    background-color: #E4912F;
};

.magnitude-6{
    @extend %magnitude;
    background-color: #F46428;
};

.magnitude-7{
    @extend %magnitude;
    background-color: #F13342;
};

.magnitude-9{
    @extend %magnitude;
    background-color: #EF2073;
}


.magnitude-number{
    font-family: Catamaran;
    font-size: 4.2em;
    font-weight: 700;
    margin-left: 10px;
}

.card-info {
    width: 80%;
}

.place-info {
    font-size: 1.8em;
    width: 95%;
    padding: 0 0 0 10px;
}

.city {
    font-weight: 600;
}

.dropdown-arrow-clicked {
    border: solid black;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    transition: all .3s;
}

.dropdown-arrow {
    border: solid black;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: all .3s;
}


.activity-details-open {
    font-family: Catamaran;
    font-size: 1.8em;
    transition: height .3s;
    background-color: $neutral-2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 175px;
    width: 100vw;
    padding: 20px;
}

strong{
    font-weight: 600;
}

.detail-item {
    margin: 0;
}

.activity-details-closed {
    transition: height .3s;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    height: 0px;
    margin: 0px;
    padding: 0px;
    line-height: 0;
}

.dark-mode {
    background: $dark-theme;
}