@import "../variables.scss";

// ----- Begin Initial Info Card -----

.activity-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid rgba(213, 209, 198, 0.5);
  font-family: Catamaran;
  line-height: 3em;
  background-color: white;
}

.magnitude-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
  max-width: 100px;
}

%magnitude {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2em;
  height: 95px;
  width: 15px;
}

.magnitude-1 {
  @extend %magnitude;
  background-color: #53e0cd;
}

.magnitude-3 {
  @extend %magnitude;
  background-color: #a5bf65;
}

.magnitude-4 {
  @extend %magnitude;
  background-color: #e4912f;
}

.magnitude-6 {
  @extend %magnitude;
  background-color: #f46428;
}

.magnitude-7 {
  @extend %magnitude;
  background-color: #f13342;
}

.magnitude-9 {
  @extend %magnitude;
  background-color: #ef2073;
}

.magnitude-number {
  font-family: Catamaran;
  font-size: 4.2em;
  font-weight: 700;
  width: calc(100% - 15px);
  text-align: center;
}

.place-info {
  height: 100%;
  font-size: 1.8em;
  width: calc(75% - 25px);
  padding: 0;
}

.city {
  font-weight: 600;
}

.dropdown-arrow {
  display: inline-block;
  max-height: 25px;
  max-width: 25px;
  transition: all 0.3s;
  margin-right: 5%;
  pointer-events: none;
}

.dropdown-arrow-clicked {
  display: inline-block;
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  max-height: 25px;
  max-width: 25px;
  transition: all 0.3s;
  margin-right: 5%;
  pointer-events: none;
}

// ----- End Initial Info Card -----

// ----- Begin Details Dropdown Card -----

.activity-details-open {
  font-family: Catamaran;
  font-size: 1.8em;
  transition: height 0.3s;
  background-color: $neutral-2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 175px;
  width: 100%;
  padding: 20px;
}

strong {
  font-weight: 600;
}

.detail-item {
  margin: 0;
}

.activity-details-closed {
  transition: height 0.3s;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  height: 0px;
  width: 0px;
  margin: 0px;
  padding: 0px;
  line-height: 0;
}

.dark-mode {
  background: $dark-theme;
  .activity-card {
    background-color: #323232;
    color: white;
    .dropdown-arrow,
    .dropdown-arrow-clicked {
      filter: invert(1);
    }
  }
}

// ----- End Details Dropdown Card -----
