.search-menu {
  display: none;
  position: fixed;
  width: 100%;

  height: calc(100% - 100px); // 100px is nav bar height + header height
  bottom: 65px;

  z-index: 1000;
  font-family: "Catamaran";

  border: none;
  justify-content: center;
  align-items: center;

  background: #00000040;
  @supports (
    (-webkit-backdrop-filter: blur(4px)) or (backdrop-filter: blur(4px))
  ) {
    background-color: #00000040;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
  }

  @media only screen and (min-width: $min-tablet-width) {
    justify-content: flex-end;
    align-items: flex-start;
    padding: 10px;

    height: calc(100% - 90px);
    bottom: 0;
  }

  @media only screen and (min-width: $min-desktop-width) {
    height: calc(100% - 45px);
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 90%;
    border-radius: 5px;
    margin: 0;
    background: #3b3b3b;
    padding: 20px;

    @media only screen and (min-width: $min-tablet-width) {
      width: 380px;
    }

    fieldset {
      width: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      // border: 1px solid dodgerblue;
      margin-bottom: 10px;
      padding-top: 10px;
      fieldset {
        padding-top: 0;
        // border: 1px solid red;
        width: 300px;
      }
    }

    legend {
      color: #fffffa;
      font-size: 1.4em;
      margin-bottom: 10px;
    }
    label {
      color: #fffffa;
      width: 100%;
      margin-bottom: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-size: 1.3em;

      input {
        width: 60%;
        border: none;
        padding: 5px;
        border-radius: 5px;
        color: #747068;
        background: #fffffa;
      }
    }

    input:focus {
      outline: none;
    }

    .advanced-filters {
      display: flex;
      input {
        font-size: 16px;
      }
      .mag-field {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        label {
          width: 45%;
        }
      }
    }

    .search-submit-button {
      background: #247249;
      color: #fffffa;
      font-size: 1.6em;
      width: 150px;
      border: none;
      padding: 7px;
      border-radius: 5px;
      cursor: pointer;
    }
    .close-sort {
      font-family: $font-body;
      font-size: 1.4em;
      margin: 0px auto;
      margin-top: 10px;
      color: white;
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .quick-filters-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
  }

  #quick-filters-label {
    margin-bottom: 0;
    text-decoration: underline;
  }

  #advanced-filters-label {
    text-decoration: underline;
  }

  .quick-filters-button {
    background: #247249;
    color: #fffffa;
    font-size: 1.2em;
    width: 49%;
    border: none;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 7px;
  }
} // end search-menu
