.filter-bar {
    background-color: #D9E3E2;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-icon {
    background: url('../../images/filter.svg') no-repeat center center / contain;
    height: 32px;
    width: 32px;
}