@import "../variables.scss";

.geocoder-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
  
    .geocode-input {
      height: 35px;
      padding: 5px;
      box-sizing: border-box;
      background: $theme-color-secondary;
      border: none;
      border-radius: 5px;
      z-index: 1001;
      width: 85%;
      font-size: 1.6em;
    }
  
    .search-icon {
      width: 35px;
      height: 35px;
      border: none;
      background-image: url("../../images/icons/search.svg");
  
      background-color: transparent;
      background-size: 25px;
      background-position: center;
      background-repeat: no-repeat;
  
      cursor: pointer;
    }
  
    .geo-location {
      width: 35px;
      height: 35px;
      border: none;
      background-color: transparent;
      background-image: url("../../images/icons/current-location-icon.svg");
  
      background-size: 25px;
      background-position: center;
      background-repeat: no-repeat;
  
      cursor: pointer;
    }
  
    .geocoder-results {
      position: absolute;
      top: 0;
      padding: 0 5px;
      z-index: 1000;
      margin-top: 30px;
      width: 100%;
      background: $theme-color-secondary;
      font-family: $font-body;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  
    .geocoder-results p {
      display: block;
      width: 100%;
      margin: 5px auto;
      padding: 5px 5px 5px 30px;
  
      font-size: 1.6em;
      line-height: 1.2rem;
      cursor: pointer;
  
      background: $theme-color-secondary;
      background-image: url("../../images/icons/search.svg");
      background-size: 20px;
      background-position: 5px;
      background-repeat: no-repeat;
    }
  }