@import "../variables.scss";

.earthquake-list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 100%;
  height: calc(100% - 75px);

  margin: 0;
  position: relative;

  .alt-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    font-family: $font-body;
    color: $logo-primary;

    .result-image {
      width: 200px;
      height: 140px;
      margin-bottom: 20px;
    }
    h1 {
      font-size: 1.6em;
      margin-bottom: 10px;
    }
    p {
      font-size: 1.4em;
      margin-bottom: 5px;
    }
  }
}

@media only screen and (min-width: $min-desktop-tablet) {
  .earthquake-list-container {
    height: 100%;
  }
}
