@import "../variables.scss";

.results-container {
  width: 100%;
  height: calc(65% - 45px);
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 999;
  transform: translateY(0);
  transition: 0.2s cubic-bezier(0.73, 0, 0.9, 1);

  background: $theme-color-secondary;

  @media only screen and (min-width: $min-tablet-width) {
    max-width: 400px;
    height: calc(100 - 90px);
  }
  @media only screen and (min-width: $min-desktop-width) {
    max-width: 400px;
    height: calc(100 - 45px);
  }

  .results-toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    width: 100;
    height: 30px;
    background: $theme-color-primary;
    border-top: 1px solid $theme-color-secondary;

    border-bottom: 1px solid $theme-color-secondary;

    button {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      width: 30%;
      height: 90%;
      border: none;
      background: transparent;
      font-family: $font-body;
      font-size: 1.5em;
      color: $font-color-white;

      border-radius: 5px;

      .view-button {
        height: 85%;
      }
    }
  }
}
