@import "./variables.scss";

.search-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.search-icon {
  background: url("../images/search.svg") no-repeat center center / contain;
  height: 37px;
  width: 37px;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 35px;
  padding: 15px 15px;
  background-color: white;
}

.header-logo {
  max-width: 25px;
  max-height: 25px;
  margin-right: 10px;
}

.site-title {
  font-family: PostNoBills;
  font-size: 2em;
  font-weight: 600;
  color: #247249;
}

.title-logo{
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 37px;
  width: 37px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .bar {
    width: 100%;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #247249;
    border-radius: 4px;
  }
}

.dark-mode {
  .header {
    background-color: $dark-theme;
    box-shadow: 0px 2px 2px rgba(201, 255, 227, 0.24);

    .site-title {
      color: $lightest-text;
    }
    .bar {
      background-color: $lightest-text;
    }

    .header-logo {
      .outline {
        fill: $logo-outline;
      }
      .land {
        fill: $logo-primary;
      }
    }
    .search-icon {
      background: url("../images/search-white.svg") no-repeat center center / contain;
    }
  }
}
