@import "./variables.scss";

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 66px;
  width: 100vw;
  background-color: $logo-primary;
}

nav {
  width: 100%;
  background: $logo-primary;
  height: 45px;
  // position: fixed;
  bottom: 0;
  border-top: 1px solid #fff;
}
