// all sections
#intro, #section-links, #indoors, #outdoors, #in-vehicle, #e-kits, #step, #help-signals, #travel-tips, #medical-aid, #disaster-help {
  .title-container {
    color: #323232;
    font-family: Catamaran;
    box-shadow: inset 0px 2px 2px rgba(36, 114, 73, 0.24), 0px 2px 2px rgba(36, 114, 73, 0.24);
    padding: 15px 0 10px 0;

    .inner-container {
      display: flex;
      width: 91%;
      justify-content: space-between;
      margin: 0 auto;

      .triangle-up {
        transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);
        display: flex;
        text-decoration: none;
        width: 100%;
        height: 100%;
        align-items: center;
        transition: all 0.3s;

        &.closed {
          transition: all 0.3s;
          transform: rotate(0deg);
          -webkit-transform: rotate(0deg);
        }
      }
    }
    
    &.large-title {
      .inner-container {
        flex-direction: column-reverse;
        .section-title {
          margin: 5px 0;
        }
        .triangle-up {
          justify-content: flex-end;
        }
      }
    } // end large-title
  } // end title-container

  .section-title {
    font-weight: 800;
    font-size: 24px;
    line-height: 25px;
  }

  .content-container {
    width: 91%;
    margin: 0 auto;
    color: $font-color;
    font-family: Catamaran;
    padding: 15px 0;

    &.closed {
      display: none;
    }
  
    .title {
      font-weight: 800;
      font-size: 24px;
      line-height: 25px;
      padding-bottom: 15px;
    }
  
    .text {
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
    }

    .links-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 5px;
    
      .link {
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        width: 90px;
        color: $accent-color;
        padding: 5px 0;
        text-decoration: none;
      }
    } // end links-container
  
    .sub-head-text {
      font-weight: 800;
      font-size: 24px;
      line-height: 25px;
    }

    .img-row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 12px;
      margin-top: 12px;
    }

    .section-text-container {
      padding: 12px 0;
      .section-text {
        font-weight: normal;
        font-size: 14px;
        line-height: 23px;
        &.bigger {
          font-size: 24px;
          line-height: 30px;
          margin: 10px 0;
        }
      }
    }
    
    .list-type-plus {
      .list-item {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
  
        .bullet-plus {
          margin-right: 10px;
          position: relative;
          top: 2px;
        }
      }
    }
  
    .list-type-solid {
      .list-item {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
  
        .bullet-solid {
          margin-right: 10px;
          position: relative;
          top: 1px;
        }
      }
    }
  
    .green-message {
      background: $accent-color;
      border-radius: 8px;
      margin: 15px 0;
      padding: 10px 0;
  
      &-text {
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
        text-align: center;
        color: $lightest-text;
        width: 90%;
        margin: 0 auto;
      }
    }
  
    .resource-link-container {
      display: flex;
      flex-direction: column;
  
      .resource-link {
        margin-left: 7%;
      }
    }
  
    .resource-link {
      font-weight: 600;
      font-size: 14px;
      line-height: 23px;
      color: $accent-color;
      padding-left: 5px;
    }
  
    .resources-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
  
      .resource-card {
        width: 181px;
        display: flex;
        height: 200px;
        margin: 10px 0;
        flex-direction: column;
        border-radius: 4px;
        box-shadow: 0px 2px 2px rgba(36, 114, 73, 0.24);
  
        .resource-logo {
          width: 75px;
          height: 75px;
          margin: 0 auto;
          margin-top: 10px;
          margin-bottom: 5px;
        }
  
        .resource-highlight {
          color: $accent-color;
        }
  
        .resource-name, .resource-phone, .resource-email, .website {
          width: 98%;
          margin: 2px 0 2px 2%;
          font-weight: 600;
          font-size: 14px;
          line-height: 23px;
  
          &.smaller {
            font-size: 12px;
          }
        }
      } // end resource-card
    } // end resources-container
  } // end content-container
} // end all sections

// #intro {
//   margin-top: 35px;
// }

#section-links {
  box-shadow: inset 0px 2px 2px rgba(36, 114, 73, 0.24);
}

#outdoors {
  .outdoor-img {
    max-width: 100%;
    margin: 5px 0;
  }
}

#in-vehicle {
  .invehicle-img {
    max-width: 100%;
    margin: 5px 0;
  }
}
#e-kits {
  .ekit-img {
    margin-bottom: 10px;
  }
}
#site-tools {
  padding-bottom: 12px;
}

#step {
  .step-logo-container {
    .step-logo {
      width: 100%;
    }
    
    .resource-link {
      text-decoration: none;
    }
  }
  
  .content-container .section-text-container .section-text {
    font-size: 16px;
    line-height: 25px;
  }
}

#help-signals .content-container .section-text-container .section-text {
  font-size: 18px;
}

.dark-mode {
  // all sections
  #intro, #section-links, #indoors, #outdoors, #in-vehicle, #e-kits, #step, #help-signals, #travel-tips, #medical-aid, #disaster-help {
    .content-container {
      .title, .text , .section-text, .sub-head-text, .list-item {
        color: white;
      }

      .bullet-plus-color, .bullet-solid-color {
        fill: $lightest-text;
      }

      .step-logo-container, .resource-card {
        background-color: $logo-background;
      }
    } // end content-container

    .title-container {
      .section-title {
        color: white;
      }

      .triangle-color {
        fill: $lightest-text;
      }
    } // end title-container
  } // end all sections

  #section-links, #medical-aid .content-container {
    background: $neutral-2;
  }

  #medical-aid .content-container {
    margin: 0;
    padding: 15px 18px;
    width: 100%;
    .section-text {
      color: black;
    }
  } 

  #indoors {
    .img-row {
      .table, .arrow, .wheelchair, .walker, .cover {
        fill: #EAAE4F;
      }
      .background {
        fill: $accent-color;
        stroke: $accent-color;
      }
      .bottom, .person {
        fill: $lightest-text;
      }
      .text {
        fill: black;
      }
    } // end img-row
  } // end indoors

  #outdoors {
    .outdoor-img {
      .background {
        fill: $accent-color;
      }
      .person {
        fill: white;
      }
      .highlight-background {
        fill: #889d00;
      }
    }
  } // end outdoors

  #in-vehicle {
    .invehicle-img {
      .background {
        fill: $accent-color;
      }
      .person, .door-frame, .gauge-cluster, .sub-img-outline, .text, .block {
        fill: white;
      }
      .steering-wheel, .table, .arrow {
        fill: #EAAE4F;
      }
      .odometer {
        fill: #8cc63f;
      }
    }
  } // end in-vehicle

  #e-kits {
    .ekit-img {
      .text {
        fill: white;
      }
    }
  }
} // end dark-mode
