// responsive breakpoints:
//mobile: 
//tablet:
//desktop:



// Colors for the site theme: 
//primary
$logo-primary: #1C4E4A;
$logo-secondary: #c2996c;
$logo-background: #FFFFFA;

//accent
$active-icon: #323232;

//etc. 
$inactive-icon: #828282;
$lightest-text: #F5F3EE;
$neutral-1: #D5D1C6;
$neutral-2: #747068;
$neutral-3: #323232;

//----------

// Site fonts: 
//logo font: Post no bills
//body font: catamaran