// responsive breakpoints:
//mobile: 
//tablet:
//desktop:



// Colors for the site theme: 
//primary
$logo-primary: #247249;
$logo-background: #FFFFFA;

//accent
$active-icon: #247249;

//etc. 
$inactive-icon: #7BA29E;
$lightest-text: #FFFFFA;
$neutral-1: #F6FCFB;
$neutral-2: #D9E3E2;
$neutral-3: #252525;

//----------

// Site fonts: 
//logo font: Post no bills
@font-face {
    font-family: 'PostNoBills';
    src: local('PostNoBills'), url(./fonts/PostNoBillsJaffna-Regular.ttf) format('truetype');
}

;

//body font: catamaran
@font-face {
    font-family: 'Catamaran';
    src: local('Catamaran'), url(./fonts/Catamaran-Regular.ttf) format('truetype');
}

;