.tips-container {
    display: flex;
    background-color: #2c2929;
    flex-direction: column;
    max-width: 800px;
    margin: 10px auto;
    padding: 30px;
    display: flex;
    align-items: center;
    color: #ffffff;
}

html {
    background-color: #464444;
}

.tips-intro {
    margin-bottom: 40px;
}

.tips-locations {
    margin-bottom: 60px;
}


.tips-preparations {
    margin-bottom: 60px;
}

.emergency-kit {
    margin-bottom: 60px;
}

.tips-secondary-info {
    margin-bottom: 60px;
}

.tips-medical {
    margin-bottom: 60px;
}

h1 {
    color: #FF473A;
}

h2 {
    color: #228B22;
}