.login-container login{
    display: flex;
    background-color: #2C2929;
    justify-content: space-between;
    flex-direction: column;
}
s {
    display: flex;
    justify-content: space-between;
    justify-content: center;
}
h1 {
    justify-content: left;
    color: red;
    align-items: center;
}