 .login-container {
    display: flex;
    background-color: #2C2929;
    justify-content: space-evenly;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-left:550px;

 }
 .form-error {
     color: White;
 }
 .login {
     color: white;
     padding-left: 100px;
 }
 .quake-head {
     color: #c90c0c;
     padding-left: 0px;
     font-size: 3.6rem;
     font-weight: bold;
 }
 .field{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     justify-content: space-between;
   
     
 }
 .form-div {
     justify-content: center;
     align-items: center;
     position: relative;
     justify-content: space-between;
    .login-button{
        width: 249px;
    height: 42px;
    background: #FF473A;
    }
 }
 

 

h1 {
    justify-content: left;
    color: red;
    align-items: center;
}