//Import component styles: 
@import './styling/reset.scss';
@import './styling/activity/activity.scss';
@import './styling/header.scss';
@import './styling/navigation.scss';
@import './styling/resources.scss';

@media (max-width: 505px) {
  .App { 
    width: 100%;
   }
  .Wipe { display: none; }
}

@media (min-width: 506px) {
  // for desktop wipe
  .Wipe { 
    font-size: 7vh;
    text-align: center;
  }
  .App { display: none; }
}

.App-link {
  color: #61dafb;
}