.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}


/* CSS for basic Nav */
  .myNav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    overflow: hidden;
  }

 .nav {
  padding: 14px 16px;
  font-size: 17px;
 }