//Import component styles:
@import "./styling/reset.scss";
@import "./styling/activity/activity.scss";
@import "./styling/header.scss";
@import "./styling/navigation.scss";
@import "./styling/resources.scss";
@import "./styling/about.scss";
@import "./styling/bugReport.scss";
@import "./styling/feed/feed.scss";
@import "./styling/sms.scss";
// General Styles
html {
  width: 100%;
  height: 100%;
  position: fixed;
}
.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

// Util Classes
.main-container {
  width: 100%;
  margin: 0;
  height: calc(
    100% - 100px
  ); // Note: This calc's px value is a combination of 'navigation.scss > nav' and 'header.scss > .header' height values.

  position: fixed;
  top: 35px;

  @media only screen and (min-width: $min-tablet-width) {
    height: calc(100% - 45px);
    top: 45px;
    // top prop in activity.scss due to whitespace issue
  }
  @media only screen and (min-width: $min-desktop-width) {
    height: 100%;
    height: calc(100% - 45px);
    // top prop in activity.scss due to whitespace issue
  }
}

.scroll {
  overflow-y: auto;
}

.no-scroll {
  overflow-y: hidden;
}

.App-link {
  color: #61dafb;
}

button:focus {
  outline: none;
  border: none;
}

spacer {
  background-color: black;
  height: 5%;
}
