.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}


/* CSS for basic Nav */
  .nav {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

 